.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 뷰포트 전체 높이 사용 */
  width: 100vw; /* 뷰포트 전체 너비 사용 */
  background-color: #f0f2f5; /* 배경색 설정 (선택사항) */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
  border: 2px solid salmon;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
}
.login-form input {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.logged-container {
  width: 100%;
}
.login-form button {
  padding: 10px;
  width: 100%;
  background-color: salmon;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.logged-container input {
  width: 100%;
}

#login-button:hover {
  background-color: darksalmon;
}
/* 비밀번호 컨테이너 스타일 */
.password-container {
  position: relative; /* 버튼을 입력란 내에서 절대 위치로 배치할 수 있도록 설정 */
  width: 100%; /* 입력란과 버튼이 함께 화면에 맞게 늘어나도록 설정 */
}

/* 비밀번호 입력란 스타일 */
.password-container input {
  width: 100%; /* 입력란이 컨테이너의 전체 너비를 차지하도록 설정 */
  padding: 15px; /* 입력란 내부 여백 설정 */
  padding-right: 40px; /* 오른쪽에 충분한 공간을 만들어 버튼이 들어갈 수 있도록 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함시켜 정확한 너비 조정 */
}

/* 비밀번호 토글 버튼 스타일 */
.password-container button {
  position: absolute; /* 절대 위치 설정 */
  top: 48%; /* 세로 중앙에 위치 */
  right: -120px; /* 입력란 오른쪽에서 10px 떨어진 위치 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 클릭 가능한 버튼으로 표시 */
  color: #666; /* 아이콘 색상 */
  font-size: 20px; /* 아이콘 크기 조정 */
}
