.section1-content {
  background-color: #e9ecef; /* 배경색 예시 */
  padding: 20px;
  border: 1px solid #ccc;

  margin-top: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

#money_list {
  width: 100%;
  border-collapse: collapse;
}

#money_list td,
th {
  padding: 4px 8px;
}

#money_list th {
  padding: 10px 20px; /* 상하 10px, 좌우 20px 패딩 */
  text-align: center;
  border: 1px solid #ddd;
}

#money_list td {
  border: 1px solid #ccc;
  text-align: center;
}
#tbody_list {
  text-align: center;
}
.input-form > * {
  margin-top: 5px; /* 각 요소 간의 간격 조정 */
  margin-bottom: 5px;
}
.semester-info {
  color: blue;
  font-size: 0.8em;
}
